body {
  background: #1a1f25;
}

.container {
  text-align: center;
  max-width: 1450px;
  margin: 0 auto;
  padding: 30px 10px;
}

svg {
  position: relative;
}

.triangle {
  transition: left .3s ease-in-out, fill .3s ease-in-out, stroke-dasharray .2s ease;
  position: relative;
  stroke-dasharray: 125 61;
  stroke-dashoffset: 25;
}

svg:hover .triangle {
  stroke-dasharray: 188 0;
}

.triangle:hover {
  fill: rgba(255, 255, 255, 0.05);
}

.triangle:active {
  fill: rgba(255, 255, 255, 0.18);
}

.glitch {
  -webkit-animation: glitch 0.2s 2;
  animation: glitch 0.15s 2;
}

.glitchout {
  -webkit-animation: glitchout 0.2s 2;
  animation: glitchout 0.15s 2;
}

svg .text {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

svg:hover .text {
  opacity: 0;
}

svg .text2 {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

svg:hover .text2 {
  opacity: 1;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: -8px 0px 0px #ffee00;
    left: -3px;
  }
  1% {
    text-shadow: -10px 0px 0px #ffee00;
    left: -2px;
  }
  2% {
    text-shadow: -1px 0px 0px #00ff80;
    left: 6px;
  }
  3% {
    text-shadow: -3px 0px 0px #c0147c;
    left: 6px;
  }
  4% {
    text-shadow: -9px 0px 0px #ffee00;
    left: -1px;
  }
  5% {
    text-shadow: -23px 0px 0px #00aaff;
    left: -4px;
  }
  6% {
    text-shadow: 4px 0px 0px #00aaff;
    left: 3px;
  }
  7% {
    text-shadow: 23px 0px 0px #ffee00;
    left: 2px;
  }
  8% {
    text-shadow: 25px 0px 0px #c0147c;
    left: 6px;
  }
  9% {
    text-shadow: 5px 0px 0px #00ff80;
    left: -5px;
  }
  10% {
    text-shadow: 9px 0px 0px #c0147c;
    left: 4px;
  }
  11% {
    text-shadow: 5px 0px 0px #ffee00;
    left: 1px;
  }
  12% {
    text-shadow: 24px 0px 0px #00aaff;
    left: -2px;
  }
  13% {
    text-shadow: -29px 0px 0px #c0147c;
    left: 2px;
  }
  14% {
    text-shadow: 10px 0px 0px #00ff80;
    left: -1px;
  }
  15% {
    text-shadow: 3px 0px 0px #ffee00;
    left: -1px;
  }
  16% {
    text-shadow: -16px 0px 0px #ffee00;
    left: 6px;
  }
  17% {
    text-shadow: 30px 0px 0px #c0147c;
    left: 3px;
  }
  18% {
    text-shadow: 23px 0px 0px #ffee00;
    left: -4px;
  }
  19% {
    text-shadow: 10px 0px 0px #ffee00;
    left: 0px;
  }
  20% {
    text-shadow: -1px 0px 0px #c0147c;
    left: 5px;
  }
  21% {
    text-shadow: 1px 0px 0px #ffee00;
    left: 0px;
  }
  22% {
    text-shadow: 2px 0px 0px #00aaff;
    left: 1px;
  }
  23% {
    text-shadow: -27px 0px 0px #00ff80;
    left: -5px;
  }
  24% {
    text-shadow: 14px 0px 0px #c0147c;
    left: -1px;
  }
  25% {
    text-shadow: -22px 0px 0px #c0147c;
    left: 2px;
  }
  26% {
    text-shadow: 14px 0px 0px #00aaff;
    left: 1px;
  }
  27% {
    text-shadow: -26px 0px 0px #c0147c;
    left: 2px;
  }
  28% {
    text-shadow: 21px 0px 0px #ffee00;
    left: -5px;
  }
  29% {
    text-shadow: -22px 0px 0px #00ff80;
    left: 1px;
  }
  30% {
    text-shadow: -18px 0px 0px #00aaff;
    left: -1px;
  }
  31% {
    text-shadow: -4px 0px 0px #ffee00;
    left: 2px;
  }
  32% {
    text-shadow: 32px 0px 0px #00ff80;
    left: 0px;
  }
  33% {
    text-shadow: -2px 0px 0px #00aaff;
    left: 4px;
  }
  34% {
    text-shadow: 13px 0px 0px #00aaff;
    left: -5px;
  }
  35% {
    text-shadow: 13px 0px 0px #00ff80;
    left: 0px;
  }
  36% {
    text-shadow: 29px 0px 0px #ffee00;
    left: 5px;
  }
  37% {
    text-shadow: -24px 0px 0px #ffee00;
    left: 0px;
  }
  38% {
    text-shadow: 25px 0px 0px #00ff80;
    left: -5px;
  }
  39% {
    text-shadow: 5px 0px 0px #ffee00;
    left: 6px;
  }
  40% {
    text-shadow: 32px 0px 0px #c0147c;
    left: 2px;
  }
  41% {
    text-shadow: -7px 0px 0px #00aaff;
    left: 6px;
  }
  42% {
    text-shadow: 4px 0px 0px #00aaff;
    left: -2px;
  }
  43% {
    text-shadow: -24px 0px 0px #ffee00;
    left: 3px;
  }
  44% {
    text-shadow: 35px 0px 0px #00aaff;
    left: -1px;
  }
  45% {
    text-shadow: -13px 0px 0px #00aaff;
    left: 5px;
  }
  46% {
    text-shadow: 22px 0px 0px #00aaff;
    left: 5px;
  }
  47% {
    text-shadow: 27px 0px 0px #00ff80;
    left: -4px;
  }
  48% {
    text-shadow: -14px 0px 0px #ffee00;
    left: 0px;
  }
  49% {
    text-shadow: 9px 0px 0px #00aaff;
    left: 0px;
  }
  50% {
    text-shadow: 28px 0px 0px #c0147c;
    left: 1px;
  }
  51% {
    text-shadow: -28px 0px 0px #00aaff;
    left: -3px;
  }
  52% {
    text-shadow: 28px 0px 0px #00aaff;
    left: -3px;
  }
  53% {
    text-shadow: 4px 0px 0px #00ff80;
    left: 2px;
  }
  54% {
    text-shadow: -28px 0px 0px #00ff80;
    left: 2px;
  }
  55% {
    text-shadow: -26px 0px 0px #00ff80;
    left: 1px;
  }
  56% {
    text-shadow: 2px 0px 0px #ffee00;
    left: 1px;
  }
  57% {
    text-shadow: -18px 0px 0px #c0147c;
    left: 3px;
  }
  58% {
    text-shadow: -28px 0px 0px #00ff80;
    left: 4px;
  }
  59% {
    text-shadow: -19px 0px 0px #00aaff;
    left: 2px;
  }
  60% {
    text-shadow: -23px 0px 0px #c0147c;
    left: -1px;
  }
  61% {
    text-shadow: -5px 0px 0px #00aaff;
    left: 4px;
  }
  62% {
    text-shadow: 35px 0px 0px #00ff80;
    left: -1px;
  }
  63% {
    text-shadow: 22px 0px 0px #00aaff;
    left: -1px;
  }
  64% {
    text-shadow: -1px 0px 0px #00ff80;
    left: 6px;
  }
  65% {
    text-shadow: -24px 0px 0px #00aaff;
    left: 3px;
  }
  66% {
    text-shadow: -10px 0px 0px #c0147c;
    left: 4px;
  }
  67% {
    text-shadow: 23px 0px 0px #ffee00;
    left: 0px;
  }
  68% {
    text-shadow: 21px 0px 0px #00aaff;
    left: -5px;
  }
  69% {
    text-shadow: -20px 0px 0px #ffee00;
    left: -1px;
  }
  70% {
    text-shadow: -11px 0px 0px #c0147c;
    left: 1px;
  }
  71% {
    text-shadow: -16px 0px 0px #00ff80;
    left: 1px;
  }
  72% {
    text-shadow: -32px 0px 0px #c0147c;
    left: -1px;
  }
  73% {
    text-shadow: 34px 0px 0px #ffee00;
    left: 1px;
  }
  74% {
    text-shadow: 13px 0px 0px #00aaff;
    left: -2px;
  }
  75% {
    text-shadow: 17px 0px 0px #00aaff;
    left: -4px;
  }
  76% {
    text-shadow: -26px 0px 0px #00ff80;
    left: -1px;
  }
  77% {
    text-shadow: 17px 0px 0px #00ff80;
    left: -5px;
  }
  78% {
    text-shadow: -14px 0px 0px #00aaff;
    left: -2px;
  }
  79% {
    text-shadow: -14px 0px 0px #00ff80;
    left: 6px;
  }
  80% {
    text-shadow: 4px 0px 0px #00aaff;
    left: 5px;
  }
  81% {
    text-shadow: 35px 0px 0px #00ff80;
    left: 2px;
  }
  82% {
    text-shadow: 16px 0px 0px #ffee00;
    left: 3px;
  }
  83% {
    text-shadow: -10px 0px 0px #c0147c;
    left: 6px;
  }
  84% {
    text-shadow: -11px 0px 0px #ffee00;
    left: 6px;
  }
  85% {
    text-shadow: -6px 0px 0px #c0147c;
    left: 6px;
  }
  86% {
    text-shadow: 31px 0px 0px #00ff80;
    left: 5px;
  }
  87% {
    text-shadow: -28px 0px 0px #c0147c;
    left: 0px;
  }
  88% {
    text-shadow: -27px 0px 0px #c0147c;
    left: -1px;
  }
  89% {
    text-shadow: -5px 0px 0px #c0147c;
    left: 2px;
  }
  90% {
    text-shadow: 7px 0px 0px #00aaff;
    left: 2px;
  }
  91% {
    text-shadow: 21px 0px 0px #00aaff;
    left: -5px;
  }
  92% {
    text-shadow: -25px 0px 0px #c0147c;
    left: -4px;
  }
  93% {
    text-shadow: -10px 0px 0px #00aaff;
    left: -5px;
  }
  94% {
    text-shadow: 17px 0px 0px #00aaff;
    left: 1px;
  }
  95% {
    text-shadow: 35px 0px 0px #00aaff;
    left: 1px;
  }
  96% {
    text-shadow: -5px 0px 0px #00ff80;
    left: -4px;
  }
  97% {
    text-shadow: -12px 0px 0px #00ff80;
    left: 1px;
  }
  98% {
    text-shadow: -21px 0px 0px #ffee00;
    left: 3px;
  }
  99% {
    text-shadow: 1px 0px 0px #00aaff;
    left: -2px;
  }
  100% {
    text-shadow: -20px 0px 0px #c0147c;
    left: -1px;
  }
}
@-webkit-keyframes glitchout {
  0% {
    text-shadow: -8px 0px 0px #ffee00;
    left: -3px;
  }
  1% {
    text-shadow: -10px 0px 0px #ffee00;
    left: -2px;
  }
  2% {
    text-shadow: -1px 0px 0px #00ff80;
    left: 6px;
  }
  3% {
    text-shadow: -3px 0px 0px #c0147c;
    left: 6px;
  }
  4% {
    text-shadow: -9px 0px 0px #ffee00;
    left: -1px;
  }
  5% {
    text-shadow: -23px 0px 0px #00aaff;
    left: -4px;
  }
  6% {
    text-shadow: 4px 0px 0px #00aaff;
    left: 3px;
  }
  7% {
    text-shadow: 23px 0px 0px #ffee00;
    left: 2px;
  }
  8% {
    text-shadow: 25px 0px 0px #c0147c;
    left: 6px;
  }
  9% {
    text-shadow: 5px 0px 0px #00ff80;
    left: -5px;
  }
  10% {
    text-shadow: 9px 0px 0px #c0147c;
    left: 4px;
  }
  11% {
    text-shadow: 5px 0px 0px #ffee00;
    left: 1px;
  }
  12% {
    text-shadow: 24px 0px 0px #00aaff;
    left: -2px;
  }
  13% {
    text-shadow: -29px 0px 0px #c0147c;
    left: 2px;
  }
  14% {
    text-shadow: 10px 0px 0px #00ff80;
    left: -1px;
  }
  15% {
    text-shadow: 3px 0px 0px #ffee00;
    left: -1px;
  }
  16% {
    text-shadow: -16px 0px 0px #ffee00;
    left: 6px;
  }
  17% {
    text-shadow: 30px 0px 0px #c0147c;
    left: 3px;
  }
  18% {
    text-shadow: 23px 0px 0px #ffee00;
    left: -4px;
  }
  19% {
    text-shadow: 10px 0px 0px #ffee00;
    left: 0px;
  }
  20% {
    text-shadow: -1px 0px 0px #c0147c;
    left: 5px;
  }
  21% {
    text-shadow: 1px 0px 0px #ffee00;
    left: 0px;
  }
  22% {
    text-shadow: 2px 0px 0px #00aaff;
    left: 1px;
  }
  23% {
    text-shadow: -27px 0px 0px #00ff80;
    left: -5px;
  }
  24% {
    text-shadow: 14px 0px 0px #c0147c;
    left: -1px;
  }
  25% {
    text-shadow: -22px 0px 0px #c0147c;
    left: 2px;
  }
  26% {
    text-shadow: 14px 0px 0px #00aaff;
    left: 1px;
  }
  27% {
    text-shadow: -26px 0px 0px #c0147c;
    left: 2px;
  }
  28% {
    text-shadow: 21px 0px 0px #ffee00;
    left: -5px;
  }
  29% {
    text-shadow: -22px 0px 0px #00ff80;
    left: 1px;
  }
  30% {
    text-shadow: -18px 0px 0px #00aaff;
    left: -1px;
  }
  31% {
    text-shadow: -4px 0px 0px #ffee00;
    left: 2px;
  }
  32% {
    text-shadow: 32px 0px 0px #00ff80;
    left: 0px;
  }
  33% {
    text-shadow: -2px 0px 0px #00aaff;
    left: 4px;
  }
  34% {
    text-shadow: 13px 0px 0px #00aaff;
    left: -5px;
  }
  35% {
    text-shadow: 13px 0px 0px #00ff80;
    left: 0px;
  }
  36% {
    text-shadow: 29px 0px 0px #ffee00;
    left: 5px;
  }
  37% {
    text-shadow: -24px 0px 0px #ffee00;
    left: 0px;
  }
  38% {
    text-shadow: 25px 0px 0px #00ff80;
    left: -5px;
  }
  39% {
    text-shadow: 5px 0px 0px #ffee00;
    left: 6px;
  }
  40% {
    text-shadow: 32px 0px 0px #c0147c;
    left: 2px;
  }
  41% {
    text-shadow: -7px 0px 0px #00aaff;
    left: 6px;
  }
  42% {
    text-shadow: 4px 0px 0px #00aaff;
    left: -2px;
  }
  43% {
    text-shadow: -24px 0px 0px #ffee00;
    left: 3px;
  }
  44% {
    text-shadow: 35px 0px 0px #00aaff;
    left: -1px;
  }
  45% {
    text-shadow: -13px 0px 0px #00aaff;
    left: 5px;
  }
  46% {
    text-shadow: 22px 0px 0px #00aaff;
    left: 5px;
  }
  47% {
    text-shadow: 27px 0px 0px #00ff80;
    left: -4px;
  }
  48% {
    text-shadow: -14px 0px 0px #ffee00;
    left: 0px;
  }
  49% {
    text-shadow: 9px 0px 0px #00aaff;
    left: 0px;
  }
  50% {
    text-shadow: 28px 0px 0px #c0147c;
    left: 1px;
  }
  51% {
    text-shadow: -28px 0px 0px #00aaff;
    left: -3px;
  }
  52% {
    text-shadow: 28px 0px 0px #00aaff;
    left: -3px;
  }
  53% {
    text-shadow: 4px 0px 0px #00ff80;
    left: 2px;
  }
  54% {
    text-shadow: -28px 0px 0px #00ff80;
    left: 2px;
  }
  55% {
    text-shadow: -26px 0px 0px #00ff80;
    left: 1px;
  }
  56% {
    text-shadow: 2px 0px 0px #ffee00;
    left: 1px;
  }
  57% {
    text-shadow: -18px 0px 0px #c0147c;
    left: 3px;
  }
  58% {
    text-shadow: -28px 0px 0px #00ff80;
    left: 4px;
  }
  59% {
    text-shadow: -19px 0px 0px #00aaff;
    left: 2px;
  }
  60% {
    text-shadow: -23px 0px 0px #c0147c;
    left: -1px;
  }
  61% {
    text-shadow: -5px 0px 0px #00aaff;
    left: 4px;
  }
  62% {
    text-shadow: 35px 0px 0px #00ff80;
    left: -1px;
  }
  63% {
    text-shadow: 22px 0px 0px #00aaff;
    left: -1px;
  }
  64% {
    text-shadow: -1px 0px 0px #00ff80;
    left: 6px;
  }
  65% {
    text-shadow: -24px 0px 0px #00aaff;
    left: 3px;
  }
  66% {
    text-shadow: -10px 0px 0px #c0147c;
    left: 4px;
  }
  67% {
    text-shadow: 23px 0px 0px #ffee00;
    left: 0px;
  }
  68% {
    text-shadow: 21px 0px 0px #00aaff;
    left: -5px;
  }
  69% {
    text-shadow: -20px 0px 0px #ffee00;
    left: -1px;
  }
  70% {
    text-shadow: -11px 0px 0px #c0147c;
    left: 1px;
  }
  71% {
    text-shadow: -16px 0px 0px #00ff80;
    left: 1px;
  }
  72% {
    text-shadow: -32px 0px 0px #c0147c;
    left: -1px;
  }
  73% {
    text-shadow: 34px 0px 0px #ffee00;
    left: 1px;
  }
  74% {
    text-shadow: 13px 0px 0px #00aaff;
    left: -2px;
  }
  75% {
    text-shadow: 17px 0px 0px #00aaff;
    left: -4px;
  }
  76% {
    text-shadow: -26px 0px 0px #00ff80;
    left: -1px;
  }
  77% {
    text-shadow: 17px 0px 0px #00ff80;
    left: -5px;
  }
  78% {
    text-shadow: -14px 0px 0px #00aaff;
    left: -2px;
  }
  79% {
    text-shadow: -14px 0px 0px #00ff80;
    left: 6px;
  }
  80% {
    text-shadow: 4px 0px 0px #00aaff;
    left: 5px;
  }
  81% {
    text-shadow: 35px 0px 0px #00ff80;
    left: 2px;
  }
  82% {
    text-shadow: 16px 0px 0px #ffee00;
    left: 3px;
  }
  83% {
    text-shadow: -10px 0px 0px #c0147c;
    left: 6px;
  }
  84% {
    text-shadow: -11px 0px 0px #ffee00;
    left: 6px;
  }
  85% {
    text-shadow: -6px 0px 0px #c0147c;
    left: 6px;
  }
  86% {
    text-shadow: 31px 0px 0px #00ff80;
    left: 5px;
  }
  87% {
    text-shadow: -28px 0px 0px #c0147c;
    left: 0px;
  }
  88% {
    text-shadow: -27px 0px 0px #c0147c;
    left: -1px;
  }
  89% {
    text-shadow: -5px 0px 0px #c0147c;
    left: 2px;
  }
  90% {
    text-shadow: 7px 0px 0px #00aaff;
    left: 2px;
  }
  91% {
    text-shadow: 21px 0px 0px #00aaff;
    left: -5px;
  }
  92% {
    text-shadow: -25px 0px 0px #c0147c;
    left: -4px;
  }
  93% {
    text-shadow: -10px 0px 0px #00aaff;
    left: -5px;
  }
  94% {
    text-shadow: 17px 0px 0px #00aaff;
    left: 1px;
  }
  95% {
    text-shadow: 35px 0px 0px #00aaff;
    left: 1px;
  }
  96% {
    text-shadow: -5px 0px 0px #00ff80;
    left: -4px;
  }
  97% {
    text-shadow: -12px 0px 0px #00ff80;
    left: 1px;
  }
  98% {
    text-shadow: -21px 0px 0px #ffee00;
    left: 3px;
  }
  99% {
    text-shadow: 1px 0px 0px #00aaff;
    left: -2px;
  }
  100% {
    text-shadow: -20px 0px 0px #c0147c;
    left: -1px;
  }
}
